@font-face {
  font-family: 'libre_franklinitalic';
  src: url('librefranklin-italic-webfont.eot');
  src: url('librefranklin-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('librefranklin-italic-webfont.woff2') format('woff2'),
       url('librefranklin-italic-webfont.woff') format('woff'),
       url('librefranklin-italic-webfont.ttf') format('truetype'),
       url('librefranklin-italic-webfont.svg#libre_franklinitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}