/*.about > .background-2, .about > .background-2 {
  background: #ffffff url(../images/slide-4.jpg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: initial;
  z-index: 0;
}*/
.about .section-6 .background-2 {
  background: #ffffff url(../../../images/sect-6-backg.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../images/sect-6-backg.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../images/sect-6-backg.jpg', sizingMethod='scale');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  z-index: -1;
}

.about .section-6 .inner-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  z-index: 9;
}

@media (min-width: 500px) {
  .about .section-6 .inner-content {
    max-width: 460px;
  }
}

@media (min-width: 600px) {
  .about .section-6 .inner-content {
    max-width: 650px;
  }
}

@media (min-width: 800px) {
  .about .section-6 .inner-content {
    max-width: 800px;
  }
}

@media (min-width: 1000px) {
  .about .section-6 .inner-content {
    max-width: 1000px;
  }
}

.about .section-6 .inner-content-itme-1 {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: url(../../../images/logo_icon.svg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  height: 90px;
  width: 90%;
  max-width: 350px;
}

@media (min-width: 500px) {
  .about .section-6 .inner-content-itme-1 {
    width: 70%;
  }
}

@media (min-width: 600px) {
  .about .section-6 .inner-content-itme-1 {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .about .section-6 .inner-content-itme-1 {
    height: 88px;
    width: 40%;
  }
}

@media (min-width: 850px) {
  .about .section-6 .inner-content-itme-1 {
    height: 114px;
  }
}

.about .section-6 {
  padding-bottom: 8%;
  padding-top: 5%;
  width: 100%;
}

@media (min-width: 1000px) {
  .about .section-6 {
    padding-bottom: 5%;
    padding-top: 4%;
  }
}

@media (min-width: 1200px) {
  .about .section-6 {
    padding-bottom: 4%;
    padding-top: 3%;
  }
}

.about .section-6 .button {
  -webkit-font-smoothing: antialiased;
  background: none;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  font-family: "OpenSans",sans-serif;
  font-size: .9rem;
  font-weight: bold;
  margin-top: 1rem;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
  letter-spacing: 0.04rem;
}

@media (min-width: 400px) {
  .about .section-6 .button {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .about .section-6 .button {
    margin-top: 2rem;
  }
}

.about .section-6 .button:hover {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.about .section-6 .button:focus {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.about .section-6 .button:visited {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.about .section-6 .button:active {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}


.about .section-6 .inner-content h2 {
  color: rgb(255, 255, 255);
  font-family: "merriweatherbold", serif;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 1%;
}

@media (min-width: 600px) {
  .about .section-6 .inner-content h2 {
    font-size: 1.8rem;
    margin-top: 2%;
  }
}

@media (min-width: 900px) {
  .about .section-6 .inner-content h2 {
    font-size: 2.3rem;
    margin-top: 1%;
  }
}