.contact .section-5 {
  background-color: rgb(244, 247, 249);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.contact .section-5 .ui.header.header-2 {
   display: inline-block;
   vertical-align: top;
   color: rgb(68, 69, 84);
   font-family: "merriweatherregular", serif;
  font-size: 2rem;
  letter-spacing: .1rem;
  padding-top: 2rem;
}

.contact .section-5 .ui.tiny.form {
  font-size: .85714286rem;
  padding: 2rem 0 2rem 0;
  text-align: left;
  line-height: 3;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
	margin-right: auto;
  max-width: 1100px;
}

@media (min-width: 500px) {
	.contact .section-5 .ui.tiny.form {
	  padding-left: 2rem;
	  padding-right: 2rem;	  
	}
}

@media only screen and (min-width: 700px) {
	.contact .section-5 .ui.tiny.form {
	  padding-left: 3rem;
	  padding-right: 3rem;
	}
}

@media (min-width: 800px) {
	.contact .section-5 .ui.tiny.form {
	  padding-left: 5rem;
	  padding-right: 5rem;
  }
}

.contact .section-5 .ui.form i {
  font-size: 14px;
}

.contact .section-5 input::placeholder, .contact .section-5 textarea::placeholder {
  letter-spacing: 1px;
}

.contact .section-5 .ui.form .field, .contact .section-5 .ui.form .button {
  width: 100%;
}

.contact .section-5 .ui.form .field>label {
	color: rgb(68, 69, 84);
	font-weight: normal;
	text-transform: uppercase;
}

.contact .section-5 .ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=file], .ui.form input[type=url], .ui.form input[type=number] {
	padding: 1.2rem;
	border: 0;
}

@media only screen and (max-width: 767px) {
	.ui.form .eight.fields>.field, .ui.form .eight.fields>.fields, .ui.form .five.fields>.field, .ui.form .five.fields>.fields, .ui.form .four.fields>.field, .ui.form .four.fields>.fields, .ui.form .nine.fields>.field, .ui.form .nine.fields>.fields, .ui.form .seven.fields>.field, .ui.form .seven.fields>.fields, .ui.form .six.fields>.field, .ui.form .six.fields>.fields, .ui.form .ten.fields>.field, .ui.form .ten.fields>.fields, .ui.form .three.fields>.field, .ui.form .three.fields>.fields, .ui.form .two.fields>.field, .ui.form .two.fields>.fields, .ui.form [class*="equal width"].fields>.field, .ui[class*="equal width"].form .fields>.field {
	  width: 50% !important;
	}

	.ui.form .two.fields>.field, .ui.form .two.fields>.fields {
    width: 50% !important;
	}
}

@media only screen and (max-width: 600px) {
	.ui.form .eight.fields>.field, .ui.form .eight.fields>.fields, .ui.form .five.fields>.field, .ui.form .five.fields>.fields, .ui.form .four.fields>.field, .ui.form .four.fields>.fields, .ui.form .nine.fields>.field, .ui.form .nine.fields>.fields, .ui.form .seven.fields>.field, .ui.form .seven.fields>.fields, .ui.form .six.fields>.field, .ui.form .six.fields>.fields, .ui.form .ten.fields>.field, .ui.form .ten.fields>.fields, .ui.form .three.fields>.field, .ui.form .three.fields>.fields, .ui.form .two.fields>.field, .ui.form .two.fields>.fields, .ui.form [class*="equal width"].fields>.field, .ui[class*="equal width"].form .fields>.field {
	  width: 100% !important;
	}

	.ui.form .two.fields>.field, .ui.form .two.fields>.fields, .contact .section-5 .ui.form .button {
    width: 100% !important;
	}
}

@media only screen and (min-width: 700px) {
	.ui.left.icon.input.field.user, .ui.left.icon.input.field.call {
	  width: 49%;
	  float: left;
	  margin-right: 2%;
	}

	.ui.left.icon.input.field.mail, .contact .section-5 .ui.form .button {
	  width: 49%;
	}
}

.ui[class*="left icon"].input>textarea {
  padding-left: 2.67142857em!important;
  padding-right: 1em!important;
  padding: 1.2rem;
}

.ui.icon.input>i.icon {
  color: rgb(91, 141, 219);
  /*color: rgb(68, 69, 84);*/
  opacity: 1;
}

.ui.icon.input.textarea>i.icon:before {
  top: 16%;
}

.ui.form textarea:not([rows]) {
  border: 0;
}

.contact .section-5 .ui.form .button {
  -webkit-font-smoothing: antialiased;
  background: rgb(91, 141, 219);
  border:none;
  display: block;
  font-family: "OpenSans",sans-serif;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 0.04rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.2rem;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.contact .section-5 .ui.form .button:hover {
  background-color: rgb(30, 30, 37);
}

.contact .section-5 .ui.form .button:focus {
  background-color: rgb(30, 30, 37);
}

.contact .section-5 .ui.form .button:visited {
  background-color: rgb(30, 30, 37);
}

.contact .section-5 .ui.form .button:active {
  background-color: rgb(30, 30, 37);
}


/*.contact .section-5 .ui.form .button {
  background-color: rgb(91, 141, 219);
  color: rgb(255, 255, 255);
  font-family: "OpenSans",sans-serif;
  font-size: .8rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  margin-top: .9rem;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  text-transform: uppercase;
  width: 30%;
}

.contact .section-5 .ui.form .button:focus {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.contact .section-5 .ui.form .button:visited {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.contact .section-5 .ui.form .button:active {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.contact .section-5 .ui.form .button:hover {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}*/

.contact .section-5 .ui.fitted.divider {
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}