.services .section-5 {
  background-color: rgb(244, 247, 249);
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.services .section-5 .inner-content-itme-1 {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: url(../../../images/logo_icon-2.svg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  height: 90px;
  width: 90%;
  max-width: 350px;
  opacity: 0.3;
}

@media (min-width: 500px) {
  .services .section-5 .inner-content-itme-1 {
    width: 70%;
  }
}

@media (min-width: 600px) {
  .services .section-5 .inner-content-itme-1 {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .services .section-5 .inner-content-itme-1 {
    height: 88px;
    width: 40%;
  }
}

@media (min-width: 850px) {
  .services .section-5 .inner-content-itme-1 {
    height: 114px;
  }
}

.services .section-5 h3 {
  font-family: "merriweatherregular", serif;
}

.services .section-5 .ui.fitted.divider {
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.services .section-5 .column {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.services .section-5 .column p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.services .section-5 .column .list-title {
  font-weight: bold;
  margin-top: .8rem;
  font-family: "merriweatherregular", serif;
}

.services .section-5 .column ul {
  margin-top: 0;
}

.services .section-5 .column li {
  line-height: 2;
}

.services .section-5 .ui.floated.image, .services .section-5 .ui.floated.images {
  width: 100%;
}

@media (min-width: 800px) {
  .services .section-5 .ui.floated.image, .services .section-5 .ui.floated.images {
    max-width: 400px;
  }
}

.services .section-5 .ui.segment {
  background: none;
  box-shadow: none;
  border: none;
  text-align: left;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
}

@media (min-width: 500px) {
  .services .section-5 .ui.segment {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*@media (min-width: 800px) {
  .services .section-5 .ui.segment {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}*/

.services .section-5 .ui.segment .ui.header {
  padding-bottom: .8rem;
}

.services .section-5 .ui.segment i.icon {
  /*box-shadow: 0 0 0 0.1em rgba(0,0,0,.1) inset;*/
  box-shadow: none;
  /*background-color: rgb(255, 255, 255);*/
  /*Blue Color color: rgb(91, 141, 219);*/
  color: rgb(68, 69, 84);
  color: rgb(91, 141, 219);
}

.services .section-5 .ui.segment .ui.header>.icon+.content {
  color: rgb(68, 69, 84);
  font-family: "merriweatherregular", serif;
  font-size: 1.5rem;
  padding-left: 1rem;
  letter-spacing: .1rem;
}

@media (min-width: 1000px) {
  .services .section-5 .ui.segment .ui.header>.icon+.content {
    font-size: 2.2rem;
  }
}

.services .section-5 .ui.segment .ui.header .sub.header {
  font-family: "OpenSans", sans-serif;
  color: rgba(0, 0, 0, .4);
  padding-top: 0;
  letter-spacing: .02rem;
}

@media (min-width: 1000px) {
  .services .section-5 .ui.segment .ui.header .sub.header {
    padding-top: .4rem;
  }
}

.services .section-5 .ui.segment p {
  color: rgb(68, 69, 84);
  line-height: 1.75;
  letter-spacing: .02em;
}

.services .section-5 .ui.header>.home.icon {
  line-height: .1rem;
}

.services .section-5 .ui.header>.icon {
  font-size: 2em;
  padding-top: 0;
}

@media (min-width: 1000px) {
  .services .section-5 .ui.header>.icon {
    font-size: 2.5em;
    padding-top: 0;
  }
}

.services .section-5 i.icon {
  width: 10px !important;
  height: 10px !important;
}

/* --------------- */

.services .section-5 .ui.card p, .services .section-5 .ui.cards>.card p {
  line-height: 1.1;
  padding-top: 1rem;
  line-height: 1.5rem;
}

.services .section-5 .ui.card h3, .services .section-5 .ui.cards>.card h3 {
  color: rgb(89, 90, 110);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.services .section-5 .ui.card .button {
  background-color: rgb(91, 141, 219);
  color: rgb(255, 255, 255);
  font-family: "OpenSans",sans-serif;
  font-size: .8rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  margin-top: .9rem;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  text-transform: uppercase;
  width: 90%;
}

.services .section-5 .ui.card .button:focus {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.services .section-5 .ui.card .button:visited {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}

.services .section-5 .ui.card .button:active {
  background-color: rgb(30, 30, 37);
  border-color: rgb(30, 30, 37);
}